<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BlitzChat.Settings.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BlitzChat.Settings.URLs" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <applicationSettings>
    <BlitzChat.Settings.Settings>
      <setting name="FontFamily" serializeAs="String">
        <value>Arial</value>
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="SmileScale" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="ColorBackground" serializeAs="String">
        <value>#FF444141</value>
      </setting>
      <setting name="ColorNickname" serializeAs="String">
        <value>#FF48D1CC</value>
      </setting>
      <setting name="ColorDate" serializeAs="String">
        <value>#FFFFFFFF</value>
      </setting>
      <setting name="ColorText" serializeAs="String">
        <value>#FFFFFFFF</value>
      </setting>
      <setting name="Opacity" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BoldNickname" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BoldText" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TopMost" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DateEnabled" serializeAs="String">
        <value>False</value>
      </setting>
    </BlitzChat.Settings.Settings>
  </applicationSettings>
  <userSettings>
    <BlitzChat.Settings.URLs>
      <setting name="Twitch" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchSmileJson" serializeAs="String">
        <value />
      </setting>
      <setting name="SC2TV" serializeAs="String">
        <value />
      </setting>
      <setting name="Cybergame" serializeAs="String">
        <value />
      </setting>
      <setting name="Goodgame" serializeAs="String">
        <value />
      </setting>
      <setting name="SC2TVSmiles" serializeAs="String">
        <value />
      </setting>
    </BlitzChat.Settings.URLs>
  </userSettings>
</configuration>